.window-posts
    max-height: 460px
    overflow: hidden
    overflow-y: auto
    width: 90%
    margin-left: auto
    margin-right: auto

.ul-posts
    background-color: lighten(blue, 25%)

.ul-posts > li > p
    font-family: Gill Sans MT Condensed !important
    font-size: 1.2rem !important
    padding-left: 1%

.ul-posts li:nth-child(even)
    background-color: lightblue

.title
    margin: 3% 0
    font-family: Gill Sans MT Condensed !important
    font-size: 1.4rem
    border-left: solid 10px
    border-color: #343A40
    background-color: #5ABBD6
    border-radius: 3rem
    text-align: center
    color: white !important
    padding-left: 40px !important
    padding-right: 40px !important
    padding-top: 15px
    padding-bottom: 15px
    width: 100%

.parent
    width: 50%
    margin-left: auto
    margin-right: auto
    margin-bottom: 20px

.form-personalised
    width: 90%
    margin-left: auto
    margin-right: auto

.form-item
    margin: 0.1% 0

.label-personalised
    font-size: 1.5rem

.input-title
    width: 20%
    font-size: 1.5rem

.input-message
    width: 100%
    padding-bottom: 5%
    margin-bottom: 1%

.button
    height: 30px
    margin-top: 15px
    width: 50%

.forum-text
    font-size: 1.3rem !important
    padding-left: 1%
    color: black

.btn.submit-btn
    font-size: 1.2rem