.nav-link.nav-layout
    font-family: Gill Sans MT Condensed !important
    font-size: 1.5rem
    border-left: solid 6px
    border-color: white
    background-color: #6cd6f3bd
    border-radius: 3rem
    //text-align: center
    color: white !important
    padding-left: 10px !important
    padding-right: 10px !important

.nav-link.nav-layout:hover
    color: #343a40 !important
