@import 'variables'
@import 'mixins'
@import 'input'
@import 'checkbox'
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, 
*::after, 
*::before 
    margin: 0 
    padding: 0 
    box-sizing: inherit 

.content-application
    background-color: $bg-color
    color: $font-main-color
    @include box-flex(column, center, center)
    
.x-button
    background-color: inherit
    @include button-reset
    font-size: $font-size*0.75
    color: darken(#FF4136, 20) 

.checked-button
    font-size: $font-size*0.75
    @include button-reset
    color: mix(#2ECC40, #01FF70, 0.5)

*
    margin: 5px
    font-family: 'Roboto', sans-serif

.klasafajna div:nth-child(even)
    background-color: red

