.h1-bmr
    font-family: Gill Sans MT Condensed
    font-size: 70px
    font-weight: bold
    padding-top: 2%
    text-shadow: #c5bdbd 10px 7px 7px
    
.bmr-info
    background-color: transparent
    padding: 20px   
    margin-right: 75px
    text-align: justify
    background-color: lighten(#5ABBD6, 25%)
    border-radius: 5px
    color: black
    box-shadow: 5px 10px 12px grey
    margin-top: 30px
    border: solid 3px
    border-color: black
    border-radius: .25rem

.bmr-form
    display: flex

.diet-img-wrapper
    width: auto

.dietimage
    margin-right: 20px
    width: 400px
    height: 300px

.input-container-bmr
    margin: auto 0
    width: 100%
.bmr-label
    font-size: 25px

.form-control.w-50.bmr-form-control
    font-size: 1.2rem !important
