.App.form-group
    margin-right: 15px

.h1-bmi
    font-family: Gill Sans MT Condensed
    font-size: 70px
    font-weight: bold
    padding-top: 2%
    text-shadow: #c5bdbd 10px 7px 7px

.header
    font-family: Gill Sans MT Condensed
    font-weight: bold
    margin-right: 90px
        
.bmi-info
    background-color: transparent
    padding: 20px   
    margin-right: 70px
    text-align: justify
    background-color: lighten(#5ABBD6, 25%)
    border-radius: 5px
    color: black
    box-shadow: 5px 10px 12px grey
    margin-top: 40px
    border: solid 3px
    border-color: black
    border-radius: .25rem
    
.image
    width: 400px
    height: 300px

.input-row
    display: flex

.input-container
    margin: auto 0
    width: 100%

.h4, h4
    font-family: Gill Sans MT Condensed
    font-size: 2rem !important
    
label
    font-family: Gill Sans MT Condensed
    font-size: 2rem

.itmeans
    font-family: Gill Sans MT Condensed

h2
    font-family: Gill Sans MT Condensed
    font-size: 2.5rem !important

p
    font-family: Bahnschrift
    color: #413d3d
    font-size: 1.2rem !important

.form-control.w-50
    font-family: Gill Sans MT Condensed
    font-size: 1.5rem !important